/* Garante que a imagem de fundo cubra a tela toda */
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Garante que o body ocupe 100% da altura da tela */
    background-image: url('../view/Img/carro_DW_jpg.jpg'); /* Caminho da imagem */ /*background-image faz com que a imagem fique atras de tudo*/
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-color: rgb(255, 255, 255); /* Cor de fundo caso a imagem não carregue */
    font-family: Arial, sans-serif; /* Define a fonte */
    color: white;
}
.nav {
    background-color: #20b2aa;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: #20b2aa;
    font-weight: bold;
    text-decoration: none;
}

button:hover {
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #20b2aa;
    margin-top: 50px;
}

form {
    width: 300px;
    margin: 0 auto;
    border: 4px #20b2aa solid;
    border-radius: 12px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente no formulário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras para dar profundidade */
}

input[type=text], input[type=email], input[type=password], input[type=date] {
    width: 100%;
    border: 1px #20b2aa solid;
    border-radius: 1px;
    padding: 12px 10px;
    margin-bottom: 15px; 
    font-size: 14px;
    color: #333;
}

input[type=checkbox] {
    margin-right: 10px;
}


input[type=button] {
    width: 100%;
    background-color: #20b2aa;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #1e918e;
}

a {
    text-decoration: none;
}
