/* Reseting CSS Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

/* Definição de Cores */
:root {
    --orange: rgb(71, 9, 9);
    --blue: #333333;
    --gray: #ededed;
}

/* Estilo Geral do HTML e Body */
html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Estilo do Header */
header {
    width: 100%;
    height: 500px;
    background: var(--orange);
}

/* Conteúdo dentro do Header */
.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Barra de Navegação */
nav {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo da Marca */
.brand {
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    color: #ededed;
}

.brand .logo {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

/* Header Block */
.header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: var(--blue);
    border-radius: 8px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
    padding: 10px;
}

/* Imagem do Header Block */
.header-block img {
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

/* Texto do Header Block */
.header-block .text {
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.header-block .text h2 {
    color: white;
    margin-bottom: 20px;
    text-align: right;
}

/* Car Gallery */
.car-gallery {
    padding: 50px 0;
    margin-top: 50px; /* Adicionando margem superior para afastar do topo */
}

/* Wrapper dos Cards */
.card-wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    margin: 0 auto; /* Centraliza os cards */
}

/* Estilo de Cada Card */
.card-item {
    background: var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 400px; /* Mantido para alinhar a altura dos cards */
}

/* Conteúdo do Card */
.card-content {
    text-align: center;
}

/* Imagem do Card */
.card-item img {
    width: 85%;
}

/* Título do Card */
.card-item h3 {
    margin: 10px 0;
}

/* Parágrafo do Card */
.card-item p {
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
}

/* Botão do Card */
.card-item button {
    padding: 10px 20px;
    border: none;
    background: var(--blue);
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Estilo do Botão no Hover */
.card-item button:hover {
    background: #dedede;
    color: var(--blue);
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .header-block img {
        width: 70%;
        position: absolute;
        right: 16%;
        top: 30%;
    }

    .card-wrapper {
        padding: 0;
    }
}