body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif; 
}

#fundo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

#alerta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #20b2aa;
    border: 2px white solid;
    border-radius: 12px;
    width: 50vw;
    height: 50vh;
    cursor:auto;
}

#alerta h1{
    color: white;
}

#alerta a{
    text-align: center;
    color: white;
    width: 40%;
    border: 2px white solid;
    border-radius: 12px;
    padding: 12px 32px;
    margin: 10px 0;
}

#alerta a:hover {
    background-color: black
}

h1 {
    color: #20b2aa;
}

p {
    margin: 0;
    height: 70vh;
    overflow: auto;
    font-size: large;
    text-align: justify;
}

a{
    text-decoration: none;
}

#corpo{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10fr;
    grid-column: 1/4;
    justify-content: center;
    margin-bottom: 1vh;
    background-color: #20b2aa;
    padding: 2vh;
    border-end-start-radius: 8px;
}

.logo{
    display: grid;
    justify-content: flex-end;
}

.nav img{
    width: 1.5vw;
}

.nav a {
    color: white;
}

.navegadores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    color: white;
}

.navegadores:hover{
    border-bottom: 2px white solid;
}

aside{
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 1vh;
    border: 2px #20b2aa solid;
    border-radius: 8px;
    padding: 2vh;
}

aside img {
    width: 30vw;
}

aside a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #20b2aa;
    border: 2px white solid;
    border-radius: 12px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    margin: 1vh;
    border: 2px #20b2aa solid;
    border-radius: 8px;
    padding: 2vh;
}

#sobre{
    display: grid;
    grid-column: 1/3;
}

footer{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 8vh;
    margin-top: 1vh;
    background-color: #20b2aa;
    border-start-start-radius: 8px;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

footer a{
    color: white;
}

footer img{
    width: 1.5vw;
}