body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(71, 9, 9, 0.8);
    padding: 2vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.logo {
    display: flex;
    justify-content: flex-end;
}

.nav img {
    width: 1.5vw;
}

.navegadores {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin: 0 15px;
}

.navegadores a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.navegadores a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 40px; /* Aumentei o espaçamento para melhor centralização */
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

form {
    width: 300px;
    margin: 20px auto; /* Espaçamento acima e abaixo do formulário */
    border: 2px rgba(71, 9, 9, 0.8) solid;
    border-radius: 12px;
    padding: 20px; /* Aumentei o padding para espaçamento interno */
    display: flex; /* Adiciona flex para alinhar inputs e botão */
    flex-direction: column; /* Organiza os elementos em coluna */
    gap: 10px; /* Espaçamento entre os elementos do formulário */
}

input[type=text], input[type=password] {
    width: 100%;
    border: 1px rgba(71, 9, 9, 0.8) solid;
    border-radius: 12px;
    padding: 12px 0; /* Espaçamento interno */
}

input[type=button] {
    width: 100%;
    background-color: #20b2aa;
    border: 1px black solid;
    border-radius: 12px;
    padding: 12px 0; /* Ajustado para alinhamento */
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: rgba(129, 156, 155, 0.2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: auto;
}
