<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMW | CADASTRO</title>
    <link rel="shortcut icon" type="imagex/png" href="IMG/AbaLogoAMW.png">
    <link rel="stylesheet" href="../css/cadastro.css">
    <script src="../script/cadastro.js"></script>
</head>

<body>
        <div class="nav">
            <div class="navegadores"><a href="../index.html">INICIO</a></div>
            <div class="navegadores"><a href="./login.html">LOGIN</a></div>
            <a class="logo" href="../index.html"><img src="../view/IMG/LogoAMW.png" alt=""></a>
        </div>
        <main>
            <h1>FAÇA SEU CADASTRO</h1>
            <div id="principal">
                <div class="img-fundo">
                    <img src="IMG/LogoAMW.png" alt="Imagem ilustrativa">
                </div>

                <form class="form" id="form">

                    <div class="form-control">
                        <label id="labelName" for="name">Nome: </label>
                        <div>
                            <input type="text" name="name" id="name" placeholder="Digite seu nome...">
                            <i><img class="img-sucess" src="IMG/img_sucess.png" alt=""></i>
                            <i><img class="img-error" src="IMG/img_error.png" alt=""></i>
                            <small>Error mensage</small>

                        </div>
                    </div>

                    <div class="form-control ">
                        <label id="labelEmail" for="email">Email: </label>
                        <div>
                            <input type="email" name="email" id="email" placeholder="Digite seu email...">
                            <i><img class="img-sucess" src="IMG/img_sucess.png" alt=""></i>
                            <i><img class="img-error" src="IMG/img_error.png" alt=""></i>
                            <small>Error mensage</small>
                        </div>
                    </div>

                    <div class="form-control">
                        <label id="labelPassword" for="password">Senha: </label>
                        <div>
                            <input type="password" name="password" id="password" placeholder="Digite sua senha...">
                            <i><img class="img-sucess" src="IMG/img_sucess.png" alt=""></i>
                            <i><img class="img-error" src="IMG/img_error.png" alt=""></i>
                            <small>Error mensage</small>
                        </div>
                    </div>

                    <div class="form-control">
                        <label id="labelCpfCnpj" for="cpf_cnpj">CPF/CNPJ: </label>
                        <div>
                            <input type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="Digite seu CPF ou CNPJ...">
                            <i><img class="img-sucess" src="IMG/img_sucess.png" alt=""></i>
                            <i><img class="img-error" src="IMG/img_error.png" alt=""></i>
                            <small>Error mensage</small>
                        </div>
                    </div>

                    <div class="form-control">
                        <label for="birthday">Data de Nascimento: </label>
                        <div>
                            <input type="date" name="birthday" id="birthday">
                            <i><img class="img-sucess" src="IMG/img_sucess.png" alt=""></i>
                            <i><img class="img-error" src="IMG/img_error.png" alt=""></i>
                            <small>Error mensage</small>
                        </div>
                    </div>


                    <div class="termos">
                        <label for="terms">Aceito os Termos: </label>
                        <input type="checkbox" name="terms" id="terms">
                    </div>


                    <input type="button" value="Cadastrar-se" onclick="cadastroUsuario()">
                </form>
            </div>
        </main>
        <footer>
            <div>
                <img src="IMG/git.png" alt="">
                <a href="https://github.com/Mathx8/" target="_blank">Matheus</a>
            </div>
            <div>
                <img src="IMG/git.png" alt="">
                <a href="https://github.com/SamuelLopes333" target="_blank">Samuel</a>
            </div>
            <div>
                <img src="IMG/git.png" alt="">
                <a href="https://github.com/genari05" target="_blank">Tiago</a>
            </div>
        </footer>
</body>

</html>