<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMW | CADASTRO</title>
    <link rel="stylesheet" href="../css/cadastro.css">
    <script src="../script/cadastro.js"></script>
</head>

<body>
    <div id="corpo">
        <div class="nav">
            <div class="navegadores"><a href="../index.html">INICIO</a></div>
            <div class="navegadores"><a href="./login.html">LOGIN</a></div>
            <a class="logo" href="../index.html"><img src="../view/IMG/LogoAMW.png" alt=""></a>
        </div>
        <main>
            <h1>FAÇA SEU CADASTRO</h1>
            <form>
                <label for="name">Nome: </label>
                <input type="text" name="name" id="name" placeholder="Digite seu nome...">

                <label for="email">Email: </label>
                <input type="email" name="email" id="email" placeholder="Digite seu email...">

                <label for="password">Senha: </label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha...">

                <label for="cpf_cnpj">CPF/CNPJ: </label>
                <input type="text" name="cpf_cnpj" id="cpf_cnpj" placeholder="Digite seu CPF ou CNPJ...">

                <label for="birthday">Data de Nascimento: </label>
                <input type="date" name="birthday" id="birthday">

                <div class="termos">
                    <label for="terms">Aceito os Termos: </label>
                    <input type="checkbox" name="terms" id="terms">
                </div>

                <input type="button" value="Cadastrar-se" onclick="Cadastro()">
            </form>
        </main>
        <footer>
            <div>
                <img src="IMG/git.png" alt="">
                <a href="https://github.com/Mathx8/" target="_blank">Matheus</a>
            </div>
            <div>
                <img src="IMG/git.png" alt="">
                <a href="https://github.com/SamuelLopes333" target="_blank">Samuel</a>
            </div>
            <div>
                <img src="IMG/git.png" alt="">
                <a href="https://github.com/genari05" target="_blank">Tiago</a>
            </div>
        </footer>
    </div>
</body>

</html>