<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='css/endereco.css'>
    <script src='script/endereco.js'></script>
</head>

<body>
    <div class="a">
        <a href="endereco.html">CADASTRO DE ENDEREÇOS</a>
    </div>
    <br>
    <br>
    <div>
        <h1>LISTAGEM DE ENDEREÇOS</h1>
    </div>
    <div>
        <ul>
            <li>São paulo</li>
            <li>Rio de janeiro</li>
            <li>amazonas</li>
        </ul>
    </div>
</body>

</html>