<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMW | INICIO</title>
    <link rel="shortcut icon" type="imagex/png" href="IMG/LogoAMW.png">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="content">
            <!-- Navigation Bar -->
            <nav>
                <div class="brand">
                    <img src="IMG/LogoAMW.png" alt="Logo" class="logo" />
                    <strong>AMW</strong>
                </div> 
                <div class="menu">
                    <div class="navegadores"><a href="endereco.html">CADASTRO DE ENDEREÇO</a>
                    <div class="navegadores"><a href="#perfil" onclick="AbrirPerfil()">PERFIL</a></div>
                    <div class="navegadores"><a href="#carros" onclick="AbrirCarros()">CARROS</a></div>
                    <div class="navegadores"><a href="#sobre" onclick="AbrirSobre()">SOBRE</a></div>
                    <!-- Link para a página de Listar Usuários -->
                    <div class="navegadores"><a href="ListUser.html">Lista de Usuário</a></div>
                    
                </div>
            </nav>
            <!-- Header Block -->
            <div class="header-block">
                <div class="text">
                    <h2>"Acelere Seus Sonhos </h2>
                    <h2>Viva a Essência."</h2>
                </div>
                <img src="IMG/foto_de_fundo.png" alt="Car" />
            </div>
        </div>
    </header>

    <main>
        <!-- Car Gallery Section -->
        <section id="carros" style="display: flex;">
            <h1>CARROS</h1>
            <div class="card-wrapper">
                <!-- Card Item Example -->
                <div class="card-item">
                    <img src="IMG/BMW 320i M Sport.png" alt="Car" />
                    <div class="card-content">
                        <h3>BMW 320i M Sport</h3>
                        <p>Sedã com motor 2.0 turbo de 184 cv, oferecendo excelente desempenho e conforto.​</p>
                        <p><strong>Preço: R$ 355.950</strong></p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="IMG/BMW X5 xDrive45e M Sport.jpg" alt="Car" />
                    <div class="card-content">
                        <h3>BMW X5 xDrive45e M Sport</h3>
                        <p>Um SUV híbrido plug-in que combina luxo e performance.</p>
                        <p><strong>Preço: R$ 674.950</strong></p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="IMG/BMW iX xDrive50.jpg" alt="Car" />
                    <div class="card-content">
                        <h3>BMW iX xDrive50</h3>
                        <p>SUV totalmente elétrico, com design futurista e tecnologias sustentáveis.</p>
                        <p><strong>Preço: R$ 973.950</strong></p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="IMG/BMW X3 xDrive30e M Sport.jpg" alt="Car" />
                    <div class="card-content">
                        <h3>BMW X3 xDrive30e M Sport</h3>
                        <p>SUV híbrido que combina desempenho e eficiência energética.</p>
                        <p><strong>Preço: R$ 452.950</strong></p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="IMG/BMW Z4 sDrive30i M Sport.jpg" alt="Car" />
                    <div class="card-content">
                        <h3>BMW Z4 sDrive30i M Sport</h3>
                        <p>Roadster esportivo com motor turbo de 258 cv, proporcionando uma experiência de direção ao ar
                            livre.</p>
                        <p><strong>Preço: R$ 452.950</strong></p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <div class="card-item">
                    <img src="IMG/BMW X7 M60i.jpg" alt="Car" />
                    <div class="card-content">
                        <h3>BMW X7 M60i</h3>
                        <p>SUV de luxo com motor V8, oferecendo uma combinação de potência, tecnologia e espaço.</p>
                        <p><strong>Preço: R$ 1.235.950</strong></p>
                        <button type="button">Quero este!</button>
                    </div>
                </div>
                <!-- Continue adicionando outros carros conforme necessário -->
            </div>
        </section>

        <section id="perfil" style="display: none;">
            <h1>Perfil</h1>
            <a href="endereco.html">Cadastro de Endereço</a>
        </section>

        <section id="sobre" style="display: none;">
            <h1>Lista de Usuario</h1>
            <p>Fundada em 2016, a AMW nasceu com a missão de oferecer os melhores veículos do mercado com
                qualidade e confiança. O nome AMW significa "Automóveis de Máxima Qualidade", e a nossa loja foi
                criada por três amigos apaixonados por carros, que decidiram transformar essa paixão em um negócio.
                <br>
                <br>
                <br>
                Ao longo dos anos, a AMW se destacou no mercado por sua atenção aos detalhes e comprometimento com a
                satisfação do cliente. Começamos com uma pequena loja em Curitiba, Paraná, mas com muito esforço e
                dedicação, hoje somos referência na venda de veículos novos e seminovos, com cinco filiais
                espalhadas pelo Brasil. Nossa equipe, formada por especialistas do setor automotivo, está sempre
                pronta para ajudar os clientes a encontrar o carro perfeito, seja para a família, trabalho ou lazer.
                <br>
                <br>
                <br>
                Na AMW, não vendemos apenas carros; oferecemos uma experiência completa. Nosso pós-venda é um dos
                mais reconhecidos do mercado, com uma rede de serviços e assistência técnica qualificada.
                Trabalhamos com as principais marcas do mundo automotivo, como Ford, Toyota, BMW, Audi e Jeep,
                garantindo que nossos clientes tenham acesso aos modelos mais modernos e inovadores.
            </p>
        </section>
    </main>

    <footer>
        <div>
            <img src="/view/IMG/git.png" alt="">
            <a href="https://github.com/Mathx8/" target="_blank">Matheus</a>
        </div>
        <div>
            <img src="/view/IMG/git.png" alt="">
            <a href="https://github.com/SamuelLopes333" target="_blank">Samuel</a>
        </div>
        <div>
            <img src="/view/IMG/git.png" alt="">
            <a href="https://github.com/genari05" target="_blank">Tiago</a>
        </div>
    </footer>
    <script src='/script/home.js'></script>
</body>

</html>