<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title> | LOGIN</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/login.css'>
    <script src='../script/login.js'></script>
</head>

<body>
    <div class="nav">
        <div class="navegadores"><a href="../index.html">SOBRE</a></div>
        <div class="navegadores"><a href="./cadastro.html">CADASTRO</a></div>
        <a class="logo" href="../index.html"><img src="../view/IMG/LogoAMW.png" alt=""></a>
    </div>
    <main>
        <h1>Login</h1>
        <form action="">
            <input type="text" placeholder="nome:" id="name">
            <input type="password" placeholder="Senha:" id="password">
            <button onclick="Login()">ENVIAR</button>
    </main>
    <footer></footer>
</body>

</html>