<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>AMW | LOGIN</title>
    <link rel="shortcut icon" type="imagex/png" href="IMG/LogoAMW.png">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/login.css'>
</head>

<body>
    <video autoplay muted loop class="background-video">
        <source src="../view/IMG/The BMW M3 Competition _ lost soul _ 4K.mp4" type="video/mp4">
        Seu navegador não suporta vídeo.
    </video>
    <div class="nav">
        <div class="navegadores"><a href="../index.html">INICIO</a></div>
        <div class="navegadores"><a href="./cadastro.html">CADASTRO</a></div>
        <a class="logo" href="../index.html"><img src="../view/IMG/LogoAMW.png" alt=""></a>
    </div>
    <main>
        <form class="form" id="form" action="">
            <h1>LOGIN</h1>
            <div class="form-control">
                <label id="labelEmail" for="email">Usuário</label>
                <div>
                    <input type="email" name="email" id="email" placeholder="Digite seu email...">
                    <i><img class="img-sucess" src="IMG/img_sucess.png" alt=""></i>
                    <i><img class="img-error" src="IMG/img_error.png" alt=""></i>
                    <small>Error mensage</small>
                </div>
            </div>

            <div class="form-control">
                <label id="labelPassword" for="password">Senha</label>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha...">
                    <i><img class="img-sucess" src="IMG/img_sucess.png" alt=""></i>
                    <i><img class="img-error" src="IMG/img_error.png" alt=""></i>
                    <small>Error mensage</small>
                </div>
            </div>

            <input type="button" value="ENTRAR" onclick="Login()">
        </form>
    </main>
    <footer>
        <div>
            <img src="/view/IMG/git.png" alt="">
            <a href="https://github.com/Mathx8/" target="_blank">Matheus</a>
        </div>
        <div>
            <img src="/view/IMG/git.png" alt="">
            <a href="https://github.com/SamuelLopes333" target="_blank">Samuel</a>
        </div>
        <div>
            <img src="/view/IMG/git.png" alt="">
            <a href="https://github.com/genari05" target="_blank">Tiago</a>
        </div>
    </footer>
    <script src='../script/login.js'></script>
</body>

</html>